.form {
	@apply block w-full rounded-md border-gray-300 shadow-sm
	focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

.form-checkbox {
	@apply rounded border-gray-300 text-blue-600 shadow-sm
	focus:border-blue-300 focus:ring focus:ring-offset-0 focus:ring-blue-200 focus:ring-opacity-50;
}
